<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs2340gt.nick.app_android">
<permission android:name="com.cs2340gt.nick.app_android.permissions.MAPS_RECEIVE"
    android:protectionLevel="signature"/>
    <uses-permission android:name="com.cs2340gt.nick.app_android.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCLllxb-Ki7JLjQ8RtY0ZaPSuqHGxi2ktc"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name="com.cs2340gt.nick.app_android.controller.MainActivity"
            android:label="Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cs2340gt.nick.app_android.controller.LoginActivity"
            android:parentActivityName=".controller.MainActivity"
            android:label="Log In">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cs2340gt.nick.app_android.controller.WelcomeDirectionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cs2340gt.nick.app_android.controller.RegistrationActivity"
            android:parentActivityName=".controller.MainActivity"
            android:label="Registration">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cs2340gt.nick.app_android.controller.LoggedInActivity"
            android:parentActivityName=".controller.LoginActivity"
            android:label="Clean Water Hub">
            <!--TODO: show credential level and/or username at top-->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.cs2340gt.nick.app_android.controller.WaterReportSubmitActivity"
            android:parentActivityName=".controller.LoggedInActivity"
            android:label="Submit a Report">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.cs2340gt.nick.app_android.controller.EditUserInfoActivity"
            android:parentActivityName=".controller.LoggedInActivity"
            android:label="Edit User Info">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".controller.WaterReportListActivity"
            android:parentActivityName=".controller.LoggedInActivity"
            android:label="Water Report List">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".controller.WaterPuritySubmitActivity"
            android:parentActivityName=".controller.LoggedInActivity"
            android:label="Submit a Purity Report">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".controller.WaterPurityListActivity"
            android:parentActivityName=".controller.LoggedInActivity"
            android:label="Water Purity Report List">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".controller.HistoryGraphActivity"
            android:label="History Graph"
            android:parentActivityName=".controller.WaterPurityListActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>